body {
    /* Need to add font 
        font-family: sans-serif; */
        margin: 0;
        font-family: Roboto, sans-serif;
}


.header {
    display: flex;
    align-items: center;
    color: rgb(214, 211, 211);
    background-color: black;
    justify-content: space-between;
    padding: 5px 8%;
}

.logo {
    display: flex;
}

.logo-img {
    height: 50px;
}

.logo-text {
    color: white;
    font-weight: 100; 
}

.header-links-ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.hero-section {
    display: flex;
    padding: 45px 0px;
    background-color: black;
    color: white;
    gap: 5%;
    padding: 5% 10%;
    align-items: center;
}

.hero-img {
    width: 500px;
}

.hero-button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(25, 152, 198);
    color: white;
    font-weight: 800;
    margin: 15px 0 0 0;
    border: 0;

}

.left-hero {

}

.right-hero {

}

.some-random-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px 0 60px 0;
}

.random-images-and-text {
    display: flex;
    gap: 20px;
}

.random-imgs {
    height: 30vh;
    width: 20vw;
    object-fit: cover;
    border-radius: 10px;
}

.img-txt {
    flex-wrap: wrap;
}

.random-txt {
    text-align: center;
}

.random-title {
    margin-bottom: 40px;
}

.quote {
    background-color: rgb(202, 202, 202);
    padding: 40px 20%;
}

.quote-txt {
   font-style: italic;
}

.quote-author {
    text-align: end;
    font-weight: 600;
}